version: "3.8"

services:
  app:
    image: milesandray12/app-1:latest
    ports:
      - "5000:5000"
    volumes:
      - ./backend:/app
    env_file:
      - ./backend/.env
    depends_on:
      db:
        condition: service_healthy
    entrypoint: ./entrypoint.sh

  db:
    image: mysql:8.0
    restart: always
    env_file:
      - ./backend/.env
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
      MYSQL_DATABASE: ${DB_NAME}
    ports:
      - "3306:3306"
    volumes:
      - mysql-data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost", "-p${DB_PASSWORD}"]
      interval: 5s
      timeout: 5s
      retries: 5

  frontend:
    image: milesandray12/frontend-1:latest
    ports:
      - "5173:5173"
    volumes:
      - ./frontend/Emailing-system:/app
      - /app/node_modules
    command: ["npm", "run", "dev", "--", "--host"]
    depends_on:
      - app

volumes:
  mysql-data:
